<form [formGroup]="SaleForm" class="container mt-4">
    <div class="form-group row mb-3">
        <label for="storeId" class="col-sm-2 col-form-label">Store ID</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="storeId" formControlName="storeId"
                placeholder="Enter Store ID">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="itemId" class="col-sm-2 col-form-label">Item ID</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="itemId" formControlName="itemId" placeholder="Enter Item ID">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="quantity" formControlName="quantity"
                placeholder="Enter Quantity">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary" [disabled]="SaleForm.invalid" (click)=" SaleItem()">Sale
                Item</button>
        </div>
    </div>
</form>